.about {
  padding: 100px 0 100px;
  background: rgb(24, 24, 24);
  overflow: hidden;
}

.about__title {
  font-size: 96px;
  font-weight: 700;
  color: #fff;
}

.about__container {
  display: flex;
  position: relative;
  margin: 80px 0 0;
}

.about__container-left-desc {
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: #fff;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  margin-bottom: 142px;
}

.about__container-left-purple {
  width: 350px;
  background: rgb(166, 76, 237);
  height: 34px;
  border-radius: 16px;
  position: absolute;
  top: 100px;
  left: 55px;
  transform: skewY(-1deg);
}

.about__container-left-img {
  position: absolute;
  left: -350px;
}

.about__container-right {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.about__container-right-content {
  width: 321px;
  height: 268px;
}

.about__container-right-content-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  padding: 10px 0 20px;
}

.about__container-right-content-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
}
