.efficiency {
  padding: 40px 0;
  background: rgb(149, 76, 237);
}

.efficiency__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.efficiency__container-text {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.efficiency__container-desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: #fff;
}
