.solutions {
  padding: 100px 0;
  background: rgb(24, 24, 24);
}

.solutions__title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  text-align: center;
  padding: 0 0 20px;
}

.solutions__desc {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  line-height: 45px;
  z-index: 2;
  position: relative;
}

.solutions__purple {
  width: 400px;
  background: rgb(166, 76, 237);
  height: 30px;
  border-radius: 16px;
  position: absolute;
  top: 10px;
  left: 35%;
  transform: skewY(-1deg);
  z-index: 1;
}

.solutions__container {
  display: flex;
}

.solutions__container-big {
  display: flex;
  overflow: hidden;
  background: #fff;
  width: 60%;
  height: 362px;
  position: relative;
  border-radius: 30px;
  margin-right: 30px;
}

.solutions__container-big-img {
  position: absolute;
  left: -110px;
  top: -50px;
}

.solutions__container-big-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  padding: 40px 0 0;
}

.solutions__container-big-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding: 20px 0 0;
}

.solutions__container-small {
  background: #fff;
  width: 40%;
  height: 362px;
  border-radius: 30px;
  overflow: hidden;
  padding: 40px 0 0 40px;
  position: relative;
}

.solutions__container-small-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.solutions__container-small-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding: 20px 0 0;
}

.solutions__container-small-cyan {
  position: absolute;
  bottom: -25px;
  left: 50px;
}

.solutions__container-small-orange {
  position: absolute;
  right: 40px;
  bottom: -40px;
}

.solutions__container-small-purple {
  position: absolute;
  right: -40px;
  top: 70px;
}

.solutions__container-small-second {
  background: #fff;
  width: 45%;
  height: 362px;
  border-radius: 30px;
  overflow: hidden;
  padding: 40px 0 0 40px;
  position: relative;
  margin: 30px 30px 0 0;
}

.solutions__container-small-second-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.solutions__container-small-second-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-top: 20px;
}

.solutions__container-small-second img {
  position: absolute;
  bottom: -45%;
  right: 0;
}

.solutions__container-big-second {
  display: flex;
  overflow: hidden;
  background: #fff;
  width: 60%;
  height: 362px;
  position: relative;
  border-radius: 30px;
  margin: 30px 0 0 0;
  padding: 40px 0 0 40px;
}

.solutions__container-big-second-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.solutions__container-big-second-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-top: 20px;
}
