<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <button class="header__btn-left">For Business</button>
        <button class="header__btn-right">For Customers</button>
      </div>
    </header>

    <section class="hero">
      <div class="container">
        <div class="hero__top">
          <img src="./images/heroImages/Logo.svg" alt="" />
          <button class="hero__top-btn btn">Contact sales</button>
        </div>
        <div class="hero__primary">
          <div>
            <h1 class="hero__primary-title">Everyone is an <br />Influencer</h1>
            <p class="hero__primary-desc">
              Budss is a payments as a service and WOM engine dedicated <br />
              to acquisition and retention of customers to your business.
            </p>
            <button class="hero__primary-btn btn">Contact sales</button>
          </div>
          <div class="hero__primary-right">
            <picture>
              <source
                srcset="./images/heroImages/heroSmallPicture.png"
                media="(max-width: 377px)"
              />
              <img
                class="hero__primary-right-img"
                src="./images/heroImages/heroPicture.png"
                alt="#"
                style="margin-left: 200px"
              />
            </picture>
          </div>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <h2 class="about__title">About Budss</h2>
        <div class="about__container">
          <div class="about__container-left">
            <h4 class="about__container-left-desc">
              Payment as a service, <br />
              powered seamlessly by <br />
              our network of shoppers
            </h4>
            <div class="about__container-left-purple"></div>

            <img
              class="about__container-left-img"
              src="./images/aboutImages/aboutBg.png"
              alt=""
            />
          </div>
          <div class="about__container-right">
            <div class="about__container-right-content">
              <img src="./images/aboutImages/Star1.svg" alt="" />
              <h3 class="about__container-right-content-title">Contactless</h3>
              <p class="about__container-right-content-desc">
                Budss uses near field <br />
                communication (NFC) for <br />
                making contactless payments.
              </p>
            </div>
            <div class="about__container-right-content">
              <img src="./images/aboutImages/Increase.svg" height="79" alt="" />
              <h3 class="about__container-right-content-title">
                Increased Buying Power
              </h3>
              <p class="about__container-right-content-desc">
                Returning customers spend up to 3X more.
              </p>
            </div>
            <div
              class="about__container-right-content"
              style="margin-top: 100px"
            >
              <img src="./images/aboutImages/Analytics.svg" alt="" />
              <h3 class="about__container-right-content-title">
                Analytics & Insights
              </h3>
              <p class="about__container-right-content-desc">
                Gain a holistic view into your customers’ buying behavior &
                purchasing patterns.
              </p>
            </div>
            <div
              class="about__container-right-content"
              style="margin-top: 100px"
            >
              <img
                src="./images/aboutImages/Protection.svg"
                height="79"
                alt=""
              />
              <h3 class="about__container-right-content-title">
                Fraud Protection
              </h3>
              <p class="about__container-right-content-desc">
                Budss handles all payments with a fraud prevention algorithm to
                flag high risk purchases & a user set PIN code to keep payment
                info secure.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="info">
      <div class="container">
        <div class="info__container">
          <img src="./images/budssImages/phone.png" alt="" />
          <div>
            <h2 class="info__text cyan">How Budss Works</h2>
            <h2 class="info__text white">How Budss Works</h2>
          </div>
          <div>
            <h2 class="info__text white">How Budss Works</h2>
            <h2 class="info__text purple">How Budss Works</h2>
          </div>
          <div>
            <h2 class="info__text orange">How Budss Works</h2>
            <h2 class="info__text white">How Budss Works</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="efficiency">
      <div class="container">
        <div class="efficiency__container">
          <div>
            <h2 class="efficiency__container-text">15%</h2>
            <p class="efficiency__container-desc">
              Increase in <br />Purchase Amount
            </p>
          </div>
          <div>
            <h2 class="efficiency__container-text">30%</h2>
            <p class="efficiency__container-desc">
              Growth in <br />Annual Sales
            </p>
          </div>
          <div>
            <h2 class="efficiency__container-text">10%</h2>
            <p class="efficiency__container-desc">
              Growth in New <br />
              Customers
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="solutions">
      <div class="container">
        <h2 class="solutions__title">Why Budss</h2>
        <div style="text-align: center">
          <h4 class="solutions__desc">We Provide Advanced Payment Solutions</h4>
          <div style="position: relative; margin-bottom: 70px">
            <p class="solutions__desc">To Grow Your Business</p>
            <div class="solutions__purple"></div>
          </div>
        </div>
        <div class="solutions__container">
          <div class="solutions__container-big">
            <picture>
              <source
                srcset="./images/solutionsImages/bgSmall.png"
                media="(max-width: 377px)"
              />
              <img
                class="solutions__container-big-img"
                src="./images/solutionsImages/bgBig.png"
                alt=""
              />
            </picture>
            <div style="margin-left: 329px">
              <h2 class="solutions__container-big-title">
                Turn your <br />
                customers into <br />
                loyal influencers
              </h2>
              <p class="solutions__container-big-desc">
                Budss helps businesses harness the <br />
                exponential power of loyal customers <br />
                for acquisition and retention.
              </p>
            </div>
          </div>
          <div class="solutions__container-small">
            <h2 class="solutions__container-small-title">
              Harness the power <br />
              of buying in bulk
            </h2>
            <p class="solutions__container-small-desc">
              Get at least 2X more sales with Budss Buying <br />
              Groups. Your customer base will grow <br />
              exponentially as your customers add their <br />
              friends & family to your personalized group.
            </p>
            <img
              class="solutions__container-small-cyan"
              src="./images/solutionsImages/cyanBag.svg"
              alt=""
            />
            <img
              class="solutions__container-small-orange"
              src="./images/solutionsImages/orangeBag.svg"
              alt=""
            />
            <img
              class="solutions__container-small-purple"
              src="./images/solutionsImages/purpleBag.svg"
              alt=""
            />
          </div>
        </div>
        <div class="solutions__container">
          <div class="solutions__container-small-second">
            <h2 class="solutions__container-small-second-title">
              Supercharge <br />
              Loyalty With Instant Cash Back
            </h2>
            <p class="solutions__container-small-second-desc">
              Budss allows for shoppers to earn <br />
              immediate cash back at their <br />
              favorite stores.
            </p>
            <img src="./images/solutionsImages/cyan.png" alt="" />
          </div>
          <div class="solutions__container-big-second">
            <div>
              <h2 class="solutions__container-big-second-title">
                Seasoned with AI and Gamification
              </h2>
              <p class="solutions__container-big-second-desc">
                AI programming creates a personalized customer journey, offering
                recommendations for their next purchase and optimizing rewards
                for after purchase.
              </p>
            </div>
            <img src="./images/solutionsImages/purple.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="container">
        <div class="contact__info">
          <h2 class="contact__info-title">Let Your Business Grow</h2>
          <button class="btn">Contact sales</button>
        </div>
        <div class="contact__socials">
          <div>
            <h2 class="contact__socials-title">
              Your Brand <br />
              Awareness Maters
            </h2>
            <p class="contact__socials-caption">
              Budss is a husle free solution to put your brand on any digital
              <br />
              surface including Instagram, Facebook, Twitter and TikTok
            </p>
          </div>
          <div style="display: flex">
            <div style="margin: 45px 0 0 33px" ;>
              <img src="./images/socials/facebook.svg" alt="" />
            </div>
            <div style="margin: 137px 0 0 0">
              <img
                class="contact__socials-icon"
                src="./images/socials/twitter.svg"
                alt=""
              />
            </div>
            <div style="margin: 45px 40px 0 20px">
              <img src="./images/socials/instagram.svg" alt="" />
            </div>
            <div style="margin: 137px 0 0 0">
              <img
                class="contact__socials-icon"
                src="./images/socials/tiktok.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div style="display: flex; gap: 90px">
          <img src="./images/socials/woo.svg" alt="" />
          <img src="./images/socials/shopify.svg" alt="" />
          <img src="./images/socials/square.svg" alt="" />
          <img src="./images/socials/squarespace.svg" alt="" />
          <img src="./images/socials/clover.svg" alt="" />
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <div>
            <img src="./images/footer/Logo.svg" alt="" />
          </div>
          <div>
            <a class="footer__top-links" href="">For Business</a>
            <a class="footer__top-links" href="">For Customers</a>
          </div>
          <div style="display: flex; gap: 40px">
            <button class="btn">Contact sales</button>
            <div>
              <button style="background: transparent">
                <img src="./images/footer/appstore.svg" alt="" />
              </button>
            </div>
            <div>
              <button style="background: transparent">
                <img src="./images/footer/googleplay.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid rgb(68, 68, 68)" />
        <div class="footer__bottom">
          <p class="footer__bottom-copy">
            © Copyright 2023, All Rights Reserved by Budss
          </p>
          <div style="display: flex; gap: 20px">
            <a class="footer__bottom-links" href="">Privacy Policy</a>
            <a class="footer__bottom-links" href="">Terms Of Use - Seller</a>
            <a class="footer__bottom-links" href=""
              >Terms of Use - Sellers & Customers</a
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
